{% extends 'base.html.twig' %}

{% block title %}Liste des Champions{% endblock %}

{% block body %}
    {% set alphabets = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J",
        "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"] %}


    <div class="container">
        <div class="row">

{#                <p>#}
{#                    {% for alphabet in  alphabets %}#}
{#                        <a href="#{{ alphabet | lower }}">{{ alphabet | upper }}</a>#}
{#                    {% endfor %}#}
{#                </p>#}
            {{ include('base/alphabet.html.twig') }}

            {% for champion in champions %}
                {% set firstCharact = "" %}
                <div class="col-3 mb-4 wprock-img-zoom-hover">
                    <div class="card h-100" style="width: 18rem;">
                        {% if champion.name|first != firstCharact %}
                            {% set firstCharact = "" %}
                        {% endif %}
                        <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{ champion.id }}_0.jpg"
                             class="card-img-top" alt="..." {% if champion.name|first|lower != firstCharact %} {% set firstCharact = champion.name|first|lower  %}id="{{ firstCharact }}" {% endif %}>
                        <div class="card-body ">
                            <h5 class="card-title">{{ champion.name }}</h5>
                            <p class="card-text">{{ champion.blurb }}</p>
                            <a href="{{ path('champion_showStat', {'name': champion.id }) }}" class="btn btn-outline-primary btn-sm">Voir les stats</a>
                            <a href="{{ path('champion_skins', {'name': champion.id }) }}" class="btn btn-outline-secondary btn-sm">Skins</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {{ knp_pagination_render(champions, 'base/pagination.html.twig') }}
        </div>
    </div>

{% endblock %}
