{% extends 'base.html.twig' %}

{% block title %}Statistique {{ champion.name }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mb-5">
            <div class="col">
{#                <h3>Liste des skin : "{{ champion.name }}"</h3>#}
                <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for skin in champion.skins %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{ champion.name }}_{{ skin.num }}.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>{{ skin.name|capitalize }}</h5>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <hr class="my-4">

        <div class="row" id="rowChart">
            <div class="shadow-lg p-3 mb-5 bg-body rounded">
                {{ render_chart(chart) }}
            </div>
        </div>

        <hr class="my-4">
        <div>
            <img src="..." class="img-thumbnail" alt="...">
        </div>

    </div>
{% endblock %}
