<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="site">
<nav class="navbar navbar-expand-lg navbar-light bg-primary mb-2 sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">APILOL</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('summoner_index') }}">Summoner</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('champions_index') }}">Champions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('rank_index') }}">Classement</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% block body %}{% endblock %}
<!-- Footer -->
<footer class="bg-light text-center text-lg-start mt-5 ">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-dark" href="#">Zeggriim.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
</body>
</html>
