{% extends 'base.html.twig' %}

{% block body %}
    {# {{ dump(summoner) }} #}
    <div class="container-fluid">
        <div class="text-center">
            <img src="https://ddragon.leagueoflegends.com/cdn/11.14.1/img/profileicon/{{ summoner.profileIconId }}.png"
                 class="rounded-circle" alt="...">
        </div>
        <div class="card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-body text-dark">
                <h5 class="card-title">{{ infoSummonerleague.tier }} {{ infoSummonerleague.rank }}
                    <strong>{{ infoSummonerleague.leaguePoints }}</strong> / {{ infoSummonerleague.wins }}
                    V {{ infoSummonerleague.losses }}D</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                {% for matchDetail in matchsDetail %}
                    {% set matchIdSummoner = "" %}
                    {% for key, value in matchDetail.metadata['participants'] %}
                        {% if value == summoner.puuid %}
                            {% set matchIdSummoner = key %}                            
                        {% endif %}
                    {% endfor %}
                    {# {{ dump(matchDetail.info) }} #}
                    {% set matchDetailInfo = matchDetail.info.participants[matchIdSummoner] %}
                    {# {{  dump(matchDetail.info.participants[matchIdSummoner]) }} #}
                    <div class="gameContent {% if matchDetailInfo.win %} victoire {% else %} defaite {% endif %} mb-2">
                        <div class="gameInfo">
                            <div class="gameType">{{ matchDetail.info.gameMode }}</div>
                            <div class="bar"></div>
                            <div class="gameResult">{% if matchDetailInfo.win %} Victoire {% else %} Defaite {% endif %}</div>
                            <div class="gameLength">18:14</div>
                        </div>
                        <div class="gameKDA">
                            <div class="KDA">
                                <span class="kill">{{ matchDetailInfo.kills }}</span> /
                                <span class="death">{{ matchDetailInfo.deaths }}</span> /
                                <span class="assist">{{ matchDetailInfo.assists }}</span>
                            </div>
                            <div class="multiKill"></div>
                        </div>
                        <div class="gameItems">
                            {# <img src="" alt="">
                            <img src="https://ddragon.leagueoflegends.com/cdn/11.18.1/img/item/1029.png" class="card-img-top" alt="..." draggable="true"> #}
                        </div>
                    </div>
                {% endfor %}                
            </div>
            <div class="col-7 col align-self-end">
                <table id="table_league_summoner" class="table table-striped" style="width:100%">
                    <thead>
                    <tr>
                        <th scope="col">Place</th>
                        <th scope="col">Name</th>
                        <th scope="col">LP</th>
                        <th scope="col">Win </th>
                        <th scope="col">Losses</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for league in leagues %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ league.summonerName }}</td>
                            <td>{{ league.leaguePoints }}</td>
                            <td>{{ league.wins }}</td>
                            <td>{{ league.losses }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

